@page "/race"
@using BlazorApp.Shared.Models
@inject HttpClient Http

<PageTitle>Race</PageTitle>

<h1>Raceday!</h1>
<h2>@_currentCircuit.Name (@_currentCircuit.Country)</h2>

<button class="btn btn-primary" @onclick="SimulateQualify">Simulate Qualify</button>
<button class="btn btn-primary" @onclick="SimulateRace">Simulate Race</button>

@if (_qualifyResults != null && _qualifyResults.Any())
{
    <h2>Qualify Results</h2>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Driver</th>
                <th>Team</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            @{
                var rank = 1;
            }
            @foreach (var result in _qualifyResults.OrderBy(q => q.TimeMs))
            {
                <tr>
                    <td>@rank</td>
                    <td>@result.Driver.Name</td>
                    <td>@result.Team.Name</td>
                    <td>@RenderLaptime(result.TimeMs)</td>
                </tr>
                rank++;
            }
        </tbody>
    </table>
}

@if (_raceResults != null && _raceResults.Any())
{
    <h2>Race Results</h2>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Driver</th>
                <th>Team</th>
                <th>Time</th>
                <th>Delta</th>
            </tr>
        </thead>
        <tbody>
            @{
                var rank = 1;
                var prevTime = 0;
            }
            @foreach (var result in _raceResults.OrderBy(q => q.TimeMs))
            {
                <tr>
                    <td>@rank</td>
                    <td>@result.Driver.Name</td>
                    <td>@result.Team.Name</td>
                    <td>@RenderRacetime(result.TimeMs)</td>
                    @if (prevTime == 0 || result.TimeMs == Int32.MaxValue)
                    {
                        <td>&nbsp;</td>
                    }
                    else
                    {
                        <td>@RenderDelta(result.TimeMs-prevTime)</td>
                    }
                </tr>
                prevTime = result.TimeMs;
                rank++;
            }
        </tbody>
    </table>
}


@code {
    private int currentCount = 0;
    private Circuit _currentCircuit = new Circuit();
    private RaceTeam[] teams = new RaceTeam[] { };
    private List<QualifyResult> _qualifyResults = new();
    private List<QualifyResult> _raceResults = new();
    private Random randomizer = new Random(1000); // fixed seed for testing

    private string RenderLaptime(int laptimeInMs)
    {
        var t = TimeSpan.FromMilliseconds(laptimeInMs);
        return String.Format("{0:D2}:{1:D2}.{2:D3}", t.Minutes, t.Seconds, t.Milliseconds);
    }

    private string RenderRacetime(int totalTimeMs)
    {
        if (totalTimeMs == Int32.MaxValue)
            return "DNF";

        var t = TimeSpan.FromMilliseconds(totalTimeMs);
        return String.Format("{0:D2}:{1:D2}:{2:D3}.{3:D3}", t.Hours, t.Minutes, t.Seconds, t.Milliseconds);
    }

    private string RenderDelta(int totalTimeMs)
    {
        var t = TimeSpan.FromMilliseconds(totalTimeMs);
        return String.Format("+{0:D2}:{1:D2}:{2:D3}", t.Minutes, t.Seconds, t.Milliseconds);
    }

    private void SimulateQualify()
    {
        _qualifyResults = new List<QualifyResult>();
        foreach (var team in teams)
        {
            foreach (var driver in team.Drivers)
            {
                _qualifyResults.Add(new QualifyResult
                    {
                        Driver = driver,
                        Team = team,
                        TimeMs = CalcQualifyTime(_currentCircuit, team, driver)
                    });
            }
        }
        this.StateHasChanged();
    }

    private async Task SimulateRace()
    {
        _raceResults = new List<QualifyResult>();
        foreach (var team in teams)
        {
            foreach (var driver in team.Drivers)
            {
                var result = new QualifyResult
                    {
                        Driver = driver,
                        Team = team,
                        TimeMs = CalcRaceTime(_currentCircuit, team, driver)
                    };

                // Durabilty
                if (randomizer.Next(100) > team.Durability)
                    result.TimeMs = int.MaxValue;

                _raceResults.Add(result);
            }
        }

        await Http.PostAsJsonAsync<List<QualifyResult>>("/api/race", _raceResults);
        this.StateHasChanged();
    }

    private void AssignPoints(List<QualifyResult> results)
    {
     
        this.StateHasChanged();
    }

    private int CalcQualifyTime(Circuit circuit, RaceTeam team, RaceDriver driver)
    {
        return (int)(circuit.OptimalLaptimeMs *
            (1 + (
                (((100 - team.Rating) * 0.001)) +
                (((100 - driver.QualifyPace) * 0.0005))

            ))
        );
    }

    private int CalcRaceTime(Circuit circuit, RaceTeam team, RaceDriver driver)
    {
        return (int)(circuit.OptimalLaptimeMs *
            (1 + (
                (((100 - team.Rating) * 0.001)) +
                (((100 - driver.RacePace) * 0.0005))
            )) * (circuit.Laps * (1 + (100 - driver.Experience) / 1000)) // 50 xp received a 5% increased time
        );
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var circuits = await Http.GetFromJsonAsync<List<Circuit>>("/api/circuits") ?? new List<Circuit>();
            teams = await Http.GetFromJsonAsync<RaceTeam[]>("/api/teams") ?? new RaceTeam[] { };
            _currentCircuit = circuits.FirstOrDefault() ?? new Circuit();
            this.StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
